@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,500;1,14..32,500&display=swap');

:root {
    font-family: "Inter", sans-serif;
    font-size: min(3.5vw, 25px);
    text-align: center;
}

.box .cell input {
    height: 2em;
    width: 2em;

    border: 0px, solid;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 2em);
    gap: 0.4em;
    width: 0px;
    margin: 0.6;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, 6.8em);
    gap: 0.6em;
    width: 21.6em;
    padding: 0.6em;
    margin: auto;

    background-color: #2f2f2f;
}

input:read-only {
    background-color: #dadada;
}